---
import Layout from '../layouts/Layout.astro';  
---

<Layout title="Welcome to Astro.">
	<main id="main" class="w-full h-screen flex justify-center items-center">
	  <div class="flex flex-col text-center text-white">
		<span class="text-6xl">awearsense</span>
	  	<span class="text-xl opacity-30">neural interface for your digital devices</span>
	  </div>
	</main>
</Layout>

<style>
#main{
	background-image: url('../assets/waves.svg');
	background-repeat: no-repeat no-repeat;
	background-position: center;
}
</style>
 
