---
import Layout from "../layouts/Layout.astro";
import { YouTube } from 'astro-embed';

const response = await fetch("https://jsonplaceholder.typicode.com/posts");
const data = await response.json();

const images = [
	"logo-nsrcel.png",
	"logo-iit-hyderabad.png",
	"logo-nsrcel.png",
	"logo-iit-hyderabad.png",
	"logo-nsrcel.png",
	"logo-iit-hyderabad.png",
];
---

<script>
	import { gsap } from "gsap";

	import { ScrollTrigger } from "gsap/ScrollTrigger";
	import { Observer } from "gsap/Observer";
	import { ScrollToPlugin } from "gsap/ScrollToPlugin";
	import { MotionPathPlugin } from "gsap/MotionPathPlugin";

	gsap.registerPlugin(ScrollTrigger);

	// create
	let mm = gsap.matchMedia();

	const tl = gsap.timeline();
	const msg = [
		{ parent: ".b", child: ".focus", startPos: "-50%", endPos: "0" },
		{ parent: ".c", child: ".relax", startPos: "100%", endPos: "0" },
		{ parent: ".d", child: ".control", startPos: "-50%", endPos: "0" },
	];
 
	msg.forEach((elm) => {
		 
		tl.fromTo(
			elm.child,
			{
				x: elm.startPos,
			},
			{
				x: elm.endPos,
				ease: "Power4.easeOut",
				scrollTrigger: {
					trigger: elm.parent,
					start: "-50% top",
					end: "=+50%",
					scrub: true, // Smooth scrolling animation
					toggleActions: "play none none reverse",
					markers: false,
				},
			},
		);
	}); 
	
	//-------- responsvie ------------- 

	mm.add({
		isDesktop:`(min-width: ${2000}px) and (prefers-reduced-motion: no-preference)`,
		isLaptop:`(max-width: ${1920}px) and (prefers-reduced-motion: no-preference)`,
		isMobile:`(max-width: ${800}px) and (prefers-reduced-motion: no-preference)`,
	},(context)=>{
 
		function getHeight(opt:any){
			if(opt.isDesktop){
				return "70%";
			}else if(opt.isLaptop){
				return "70%";
			}else if(opt.isMobile){
				return "100%"; 
			}
		}  

		function getWidth(opt:any){
			if(opt.isDesktop){
				return "100%";
			}else if(opt.isLaptop){
				return "70%";
			}else if(opt.isMobile){
				return "70%"; 
			}
		}  

		tl.to(".f-video-container",{ 
			width:getWidth(context.conditions), 
			height:getHeight(context.conditions), 
			scrollTrigger: {
				trigger: ".f-video-section",
				start: "center center",
				end: "=+50%",
				pin:true,
				scrub: true, // Smooth scrolling animation
				toggleActions: "play none none reverse",
				markers: false,
			},
		});

		tl.to(".f-video",{ 
			borderRadius:'1.5rem', 
			scrollTrigger: {
				trigger: ".f-video-container",
				start: "center center",
				end: "=+50%", 
				scrub: true, // Smooth scrolling animation
				toggleActions: "play none none reverse",
				markers: false,
			}
		})

		return ()=>{

		} 
	})

	// specification animation 

	const specs = document.querySelectorAll('.specification');

	tl.from(specs, {
		opacity: 0,
		yPercent: 100,
		duration: 2,
		stagger: 0.5, // Adjust the stagger time as needed
		ease: "Power4.easeOut", // You can change the easing function,
		scrollTrigger: {
				pin:true,
				trigger:'#technical-details',
				start: "top top",
				end: "+=100%",
				scrub: true, // Smooth scrolling animation
				toggleActions: "play none none reverse",
				markers: true,
			},
	})
	// const scrollWidth = 200;
	// const targets = gsap.utils.toArray(".specification")
	// targets.forEach((card, i) => {
	// 	tl.fromTo(card as HTMLElement,
	// 		{ 
	// 			xPercent:-100*i,
	// 		},
	// 		{
	// 		xPercent:0, 
	// 		ease: "Power4.easeOut", 
	// 		scrollTrigger: {
	// 			pin:true,
	// 			trigger: card as HTMLElement,
	// 			start: "top top",
	// 			end: "+=100%",
	// 			scrub: true, // Smooth scrolling animation
	// 			toggleActions: "play none none reverse",
	// 			markers: true,
	// 		},
	// 	})
	// })
	// targets.forEach((card, i) => {
    //     tl.fromTo(card as HTMLElement,{
	// 		xPercent:0,
	// 		opacity:1,
	// 	},{ 
	// 		xPercent:"100%",
	// 		opacity:0,
	// 		ease: "Power4.easeOut", 
	// 		scrollTrigger: {
	// 			pin:true,
	// 			trigger: card as HTMLElement,
	// 			start: "top top",
	// 			end: "+=100%",
	// 			scrub: true, // Smooth scrolling animation
	// 			toggleActions: "play none none reverse",
	// 			markers: true,
	// 		},
	// 	})
    // });

	// Set the scroll container
	// ScrollTrigger.create({
	// 	trigger: '#technical-details', // Replace with your scroll container selector
	// 	start: 'top top',
	// 	end: 'bottom bottom',
	// 	pin: true,
	// 	markers: true
	// });
	 
	// let scrollWidth =  window.innerWidth;

	// tl.fromTo('.specification',{
	// 	xPercent:0,
	// 	opacity:1,
	// },{ 
	// 	xPercent:-scrollWidth,
	// 	opacity:0,
	// 	ease: "Power4.easeOut",
	// 	delay:0.5,
	// 	scrollTrigger: {
	// 		pin:true,
	// 		trigger: '#technical-details',
	// 		start: "top top",
	// 		end: "+="+scrollWidth,
	// 		scrub: 1, // Smooth scrolling animation
	// 		toggleActions: "play none none reverse",
	// 		markers: true,
	// 	},
	// })
		
		 

	// -=----------------------------------
	 
</script>

<Layout title="Welcome to Astro.">
	<main class="container md:max-w-screen-xl mx-auto">
		
		<!-- hero -->
		<section id="main" class="h-screen flex justify-center items-center relative">
			<div class="flex flex-col text-center">
				<h1 class="text-10xl font-normal tracking-tighter text-white drop-shadow-sm">awearsense</h1>
				<span class="tracking-wide font-extralight text-white">
					Meet our first generation of
					<span class="font-medium">neural interface</span>. Control
					digital devices with your
					<span class="font-medium">brain</span>
				</span>
			</div>
		</section>

		<!-- focus -->
		<section class="b flex flex-col gap-24 items-center py-32">
			<div class="w-full flex items-center relative h-halfscreen"> 
				<div class="flex relative w-full">
					<h1 class="focus text-largest font-bold tracking-wide text-gray-300 ">
						Focus
					</h1>
					<p class="text-6xl text-gray-700 absolute -bottom-24">
						achive your peak <br> performance.
					</p>
				</div>
			</div>
			<div class="w-full flex">
				<div class="w-full">
					<video autoplay loop muted class="w-full rounded-xl">
						<source src="/src/assets/focus.mp4" type="video/mp4" />
						Your browser does not support the video tag.
					</video>
				</div>
				<div class="w-full px-6 flex flex-col gap-6">
					<h2 class="text-6xl text-gray-300 font-semibold">section title</h2>
					<p  class="text-2xl text-gray-600">
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, aliquam.
					</p>
				</div>
			</div>
		</section>
		
		<!-- relax -->
		<section class="c flex flex-col gap-24  items-center py-32">
			<div class="w-full flex items-center relative h-halfscreen"> 
				<div class="flex relative w-full">
					<h1 class="relax text-largest font-bold tracking-wide text-gray-300">
						Relax
					</h1>
					<p class="text-6xl text-gray-700 absolute -bottom-24">
						gain mental <br> clarity</p>
					</p>
				</div>
			</div>
			<div class="w-full flex">
				<div class="w-full px-6 flex flex-col gap-6">
					<h2 class="text-6xl text-gray-300 font-semibold">section title</h2>
					<p  class="text-2xl text-gray-600">
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, aliquam.
					</p>
				</div>
				<div class="w-full">
					<video autoplay loop muted class="w-full rounded-xl">
						<source src="/src/assets/meditation.mp4" type="video/mp4" />
						Your browser does not support the video tag.
					</video>
				</div>
			</div>
		</section>  

		<!-- control -->
		<section class="d flex flex-col gap-24 items-center py-32 mb-32">
			<div class="w-full flex items-center relative h-halfscreen"> 
				<div class="flex relative w-full">
					<h1 class="control text-largest font-bold tracking-wide text-gray-300">
						Interact
					</h1>
					<p class="text-6xl text-gray-700 absolute -bottom-16">
						think & control your device
					</p>
				</div>
			</div>
			<div class="w-full flex">
				<div class="w-full">
					<video autoplay loop muted class="w-full rounded-xl">
						<source src="/src/assets/test-2.mp4" type="video/mp4" />
						Your browser does not support the video tag.
					</video>
				</div>
				<div class="w-full px-6 flex flex-col gap-6">
					<h2 class="text-6xl text-gray-300 font-semibold">section title</h2>
					<p  class="text-2xl text-gray-600">
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, aliquam.
					</p>
				</div>
			</div>
		</section>

		<!-- center video -->
		<section class="f-video-section h-screen relative flex items-center justify-center text-center">
			 <div class="f-video-container absolute  -translate-x-1/2 left-1/2 -translate-y-1/2 top-1/2 w-screen h-full">  
				<video autoplay loop muted class="f-video object-cover w-full h-full">
					<source src="/src/assets/main.mp4" type="video/mp4" />
					Your browser does not support the video tag.
				</video>
			</div>
			<h1 class="text-10xl font-normal tracking-tighter text-white drop-shadow-sm video-text">awearsense</h1>
		</section> 

		<!-- trusted partners -->
		<section id="partners" class="flex items-center py-32">
			<div class="flex flex-col w-full gap-16 text-center">
				<h1 class="text-6xl font-semibold tracking-wide text-gray-300">
					trusted partners
				</h1> 
				<div class="flex gap-4 justify-between items-center overflow-hidden">
					{
						images.map((item) => (
							<img
								src={"/src/assets/partners/" + item}
								alt={item}
								class="object-contain h-16 grayscale opacity-50 hover:opacity-100 ease-in duration-300"
							/>
						))
					}
				</div>
			</div>
		</section>

		<!-- technical specifications -->
		<section id="technical-details" class="h-screen grid grid-cols-[auto,1fr] gap-16 content-center ">
			<div class="">
				<h1 class="text-6xl font-semibold tracking-wide text-gray-300">
					technical <br> specification
				</h1> 
			</div>
			<div class="specifications inline-flex gap-2">
				<div class="specification">
					<span>EEG Channel</span>
					<span class="whitespace-nowrap">4 + (2 reference)</span>
					<img src="/src/assets/specifications/ear.svg" alt="">
				</div>
				<div class="specification">
					<span>Electrode Type</span>
					<span>Soft Dry</span>
					<img src="/src/assets/specifications/signal.svg" alt="">
				</div>
				<div class="specification">
					<span>Channel Location</span>
					<span>In-ear & Around Ear</span>
					<img src="/src/assets/specifications/signal.svg" alt="">
				</div>
				<div class="specification">
					<span>Resolution</span>
					<span>16-bit</span> 
					<img src="/src/assets/specifications/signal.svg" alt="">
				</div>
				<div class="specification">
					<span>Sampling Rate</span>
					<span>250Hz</span>
					<img src="/src/assets/specifications/signal.svg" alt="">
				</div>
				<div class="specification">
					<span>Sensor</span>
					<span>3-axis IMU</span>
					<img src="/src/assets/specifications/imu.svg" alt="">
				</div>
				<div class="specification">
					<span>Connectivity</span>
					<span>Blutooth Low Energy</span>
					<img src="/src/assets/specifications/bluetooth.svg" alt="">
				</div>
				<div class="specification">
					<span>Battery Life</span>
					<span>6 hrs</span>
					<img src="/src/assets/specifications/battery.svg" alt="">
				</div>
				<div class="specification">
					<span>Audio</span>
					<span>Stereo Class-D Headphone Amplifier with 98db SNR</span>
				</div>
				<div class="specification">
					<span>Dimensions</span>
					<span>8" x 6.5" x 3"</span>
					<img src="/src/assets/specifications/signal.svg" alt="">
				</div>
				<div class="specification">
					<span>Weight</span>
					<span>15.61g</span>
					<img src="/src/assets/specifications/weight.svg" alt="">
				</div>
				<div class="specification">
					<span>Supported Platform</span> 
					<span>Windows 10 (64 Bit) <br> Android 5.0 and above</span> 
					<img src="/src/assets/specifications/signal.svg" alt="">
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
	#main::after {
		content: "";
		z-index: -1;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		width: 100vw;
		height: 100%;
		background-image: url("../assets/bg.jpg");
		background-repeat: no-repeat no-repeat;
		background-position: center;
		background-size: cover;
	}
 
	.specification {
		@apply flex flex-col p-5 border border-slate-200 rounded-lg w-1/3;
	}
	
	.specification > span:nth-child(1){
		@apply text-2xl font-semibold text-gray-400 whitespace-nowrap;
	}
	.specification > span:nth-child(2){
		@apply text-xl font-semibold text-gray-300;
	}
	.specification > img{
		@apply opacity-20 h-full;
	}
	 
</style>
