---
import Layout from '../layouts/Layout.astro'; 
---

<Layout title="Welcome to Astro.">
	<main class="bg-red-500 w-full h-full">
	 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, facere. Quasi aliquid excepturi, sapiente dignissimos illum, voluptate repellat rerum omnis veniam perspiciatis dolore iure praesentium commodi saepe odit quo qui? Laudantium perspiciatis blanditiis unde quo voluptatibus eum voluptatum facilis obcaecati id temporibus, nisi sit quidem iusto veniam labore consequuntur saepe!
	</main>
</Layout>
 
