<footer class="bg-slate-100">
    <div class="container md:max-w-screen-xl mx-auto py-4 flex text-xs text-gray-500 justify-between">
        <span class="tracking-wide">© 2022 Indic Origins Private Limited dba  &nbsp;<span class="text-slate-900 font-medium tracking-wider">awearsense</span> &nbsp; All Rights Reserved. </span> <div class="flex gap-10 tracking-wide"><a href="#">Terms of Service</a> <a href="">Privacy</a></div>
    </div>
</footer>