<footer>
    <div class="container md:max-w-screen-xl mx-auto text-white py-16">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi magnam, nulla necessitatibus aliquam provident dicta? Quia repellat laboriosam doloremque earum. Sint, id! Cupiditate sunt, nulla, dolores necessitatibus maxime nemo ad fuga, animi aut quas accusamus earum dolorum dignissimos? Placeat, officia incidunt quis nostrum possimus nihil natus doloremque beatae recusandae ipsum laudantium nobis odio ut nisi animi dolores blanditiis iure quas debitis cum neque dolorum eligendi magni laboriosam. Harum excepturi voluptatibus, hic asperiores obcaecati at est voluptas quo nulla inventore praesentium molestias in minus vero adipisci laborum sequi cupiditate placeat dolorem quam? Aspernatur odit consequuntur odio tempora veritatis deleniti obcaecati id!
        </p>
    </div>
</footer>