<footer class="bg-slate-100">
    <div class="container md:max-w-screen-xl mx-auto py-16">
        <div class="grid grid-cols-3">
            <div class="text-xl">awearsense</div>
            <div class="flex flex-col gap-4">
                <span class="font-semibold">contact us</span>
                <a class="items" href="https://www.linkedin.com/company/awearsense">
                    <span class="material-symbols-outlined">
                    mail
                    </span>connect@awearsense.com</a>
                <a class="items" href=""><span class="material-symbols-outlined">
                    phone
                    </span>+91-878 700 05079</a>
                <a class="items" href="https://reddit.com/r/awearsense/s/HK8iID09Jf"><span class="material-symbols-outlined">
                    room
                    </span>Bengaluru, IN </a>
            </div>
            <div class="flex flex-col gap-4 ">
                <span class="font-semibold">follow us</span>
                <a class="items" href="https://www.linkedin.com/company/awearsense">linkedin</a>
                <a class="items" href="">instagram</a> 
                <a class="items" href="https://reddit.com/r/awearsense/s/HK8iID09Jf">reddit</a>
            </div>
        </div>
    </div>
</footer>

<style>
    .items{
        @apply font-extralight opacity-70 text-sm flex items-center gap-4 tracking-wide;
    }
</style>