<footer class="bg-slate-200" id="footer">
    <div class="container md:max-w-screen-xl mx-auto backdrop-blur px-5 py-16 md:px-0">
        <div class="grid md:grid-cols-3 gap-8">
            <div class="text-xl font-medium text-btn tracking-tight md:px-6">awearsense</div>
            <div class="flex flex-col gap-4">
                <span class="font-semibold text-gray-800">contact us</span>
                <a class="items" href="https://www.linkedin.com/company/awearsense">
                    <span class="material-symbols-outlined">
                    mail
                    </span>connect@awearsense.com</a>
                <a class="items" href=""><span class="material-symbols-outlined">
                    phone
                    </span>+91-878 700 05079</a>
                <a class="items" href="https://reddit.com/r/awearsense/s/HK8iID09Jf"><span class="material-symbols-outlined">
                    room
                    </span>Bengaluru, IN </a>
            </div>
            <div class="flex flex-col gap-4 ">
                <span class="font-semibold text-gray-800">follow us</span>
                <a target="_blank" class="items" href="https://www.linkedin.com/company/awearsense">linkedin</a>
                <a target="_blank" class="items" href="">instagram</a> 
                <a target="_blank" class="items" href="https://reddit.com/r/awearsense/s/HK8iID09Jf">reddit</a>
                <a target="_blank" class="items" href="https://github.com/awearsense">github</a>
            </div>
        </div>
    </div>
</footer>

<style>
    .items{
        @apply opacity-50 text-sm flex items-center gap-4 tracking-wide;
    }

    #footer{  
        background-image: url('../assets/bg.jpg');
        background-repeat: no-repeat no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>