---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

---
<script>

	// on scroll change background color
	var navbar = document.getElementById('navbar'); 
	window.addEventListener('scroll', function() {
		if (window.scrollY > 100) {
			navbar!.classList.add('bg-bglight','text-gray-500');
			navbar!.classList.remove('text-white');
		} else {
			navbar!.classList.remove('bg-bglight','text-gray-500');
			navbar!.classList.add('text-white');
		}
	});

	// mobile menu 
	const button = document.querySelector<HTMLElement>('#nav-menu');
	const menu = document.querySelector<HTMLElement>('#menu-option'); 
	menu!.classList.toggle('hidden');
	button!.addEventListener('click', () => {
		menu!.classList.toggle('hidden');
	});
	
</script>

<nav id="navbar" class="fixed left-0 right-0 z-10 transition-all duration-700 ease-in-out text-white"> 
	<div class="container md:max-w-screen-xl mx-auto flex items-center justify-between">
		<a href="/" class="nav-item text-xl tracking-tight font-medium linear-gradient">awearsense</a>
		<div class="md:flex gap-3 hidden py-3">
			<a href="/about" class={currentPath === "about" ? "text-btn font-medium nav-item" : "nav-item  text-sm"} >about</a> 
			<!-- <a href="/science" class={currentPath === "science" ? "text-btn font-medium nav-item" : "nav-item"} >technology</a>  -->
			<!-- <a href="#partners"  class={currentPath != "" ? "hidden" : "nav-item"} class="nav-item" >partners</a>  -->
			<!-- <a href="/study" class={currentPath === "study" ? "text-btn font-medium nav-item" : "nav-item"} class="nav-item" >research</a>  -->
			<a href="/dev" class={currentPath === "docs" ? "text-btn font-medium nav-item nav-item-inactive" : "nav-item  text-sm nav-item-inactive"} >dev</a>
			<a href="/contact" class="hidden bg-bglight text-txt md:flex items-center justify-center px-8 py-1 rounded-full font-medium">contact us</a>
		</div> 
		<img id="nav-menu" class="w-14 p-3 object-fill md:hidden" src="/src/assets/menu.svg" alt="">
	</div>
	<div id="menu-option" class="flex flex-col gap-1 shadow-md md:hidden">
		<a href="/about" class={currentPath === "about" ? "text-btn font-medium nav-item" : "nav-item"} >about</a> 
		<!-- <a href="/science" class={currentPath === "science" ? "text-btn font-medium nav-item" : "nav-item"} >technology</a>  -->
		<!-- <a href="#partners"  class={currentPath != "" ? "hidden" : "nav-item"} class="nav-item" >partners</a>  -->
		<!-- <a href="/study" class={currentPath === "study" ? "text-btn font-medium nav-item" : "nav-item"} class="nav-item" >research</a>  -->
		<a href="/dev" class={currentPath === "docs" ? "text-btn font-medium nav-item nav-item-inactive" : "nav-item nav-item-inactive"} >docs</a>
		<a href="/contact" class="border-2 text-center text-btn md:flex items-center justify-center px-8 mx-6 mb-8 rounded-full font-medium hover:bg-slate-100">contact us</a>
	</div> 
</nav>

<style>
	.nav-item {
		@apply px-6 py-3;
	}

	.nav-item-inactive{
		@apply pointer-events-none text-slate-300 opacity-50;
	}

	.nav-item:hover {
		@apply bg-opacity-10 rounded-full;
	}

	.linear-gradient{
		background:  linear-gradient(270deg, #ff38bb 4.25%, #ff8038 51.61%, #f5be66 80.43%, #f4dca8 93.03%);
		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
</style>
