---
import arrow from "../assets/social/arrow-right.svg?url";
import arrowwhite from "../assets/social/arrow-rightwhite.svg?url";
interface Props {
  show: boolean;
}
const { show } = Astro.props; 
---

<script>
  const btn = document.getElementById("formSubmit"); 
  const email_id = document.getElementById("email") as HTMLInputElement;

  btn?.addEventListener("click", () => {
    postData({ email:email_id.value});
  });

  const validateEmail = (email: string) => {
    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
        return true;
    }
      return false;
    };

  const postData = (data: any) => {
    console.log(data)
    // check if email is empty
    if (!data.email) {
      console.log("Please enter your email");
      return;
    }

    // vaidate if the data is email type
    if (validateEmail(data.email) === false) {
      console.log("Please enter a valid email");
      return;
    }
    data.waitlist_id = 15885;
    data.referral_link = document.URL;
    fetch("https://api.getwaitlist.com/api/v1/signup", {
      method: "POST", 
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
      })
      .catch((error) => {
        console.error(error);
      });
  };
</script>

<section class="flex flex-col gap-2 w-full">
  <h2 class=`font-medium text-xl md:text-3xl ${show?'text-white':'text-black'}`>
    join the waitlist
  </h2>
  <form class="flex md:w-2/3" method="post">
    <input
      id="email"
      name="email"
      type="email" 
      placeholder="Email Address"
      required
      class=`outline-none border-0 border-b bg-transparent flex-1 ${show?'text-white':'text-black'}`
    />
    <button id="formSubmit" type="submit" class="h-14">
      <img class="h-full" src={show ? arrowwhite : arrow} alt="arrow" />
    </button>
  </form>
</section>


<style>
  .linear-gradient {
    background: linear-gradient(
      270deg,
      #ff38bb 4.25%,
      #ff8038 51.61%,
      #f5be66 80.43%,
      #f4dca8 93.03%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>